.header-proj-title {
  font-family: 'Lobster', cursive;
  font-size: 22.5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.user-avatar-wrapper {
  cursor: pointer;
}
.menu-username {
  font-size: 14px;
  padding: 0 5px;
}
