<mat-sidenav-container *ngIf="board">
  <mat-sidenav-content
    class="board-wrapper"
    fxLayout="column"
    [ngStyle]="{ 'background-color': board.backgroundColor }"
  >
    <div
      class="board-panel"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div fxLayout="row" fxLayoutGap="5px">
        <input
          type="text"
          class="title-field"
          [formControl]="boardTitleControl"
          (keyup.enter)="$event.target.blur()"
          (focusout)="onEditBoardTitle(board.title)"
        />
        <mat-divider [vertical]="true"></mat-divider>
        <div *ngIf="!mobileQuery.matches" fxLayout="row" fxLayoutGap="5px">
          <button
            mat-icon-button
            color="accent"
            (click)="changeBoardFavor()"
            [matTooltip]="
              isUsersFavoriteBoard()
                ? 'Remove from favorites'
                : 'Add to favorites'
            "
          >
            <mat-icon>
              {{ isUsersFavoriteBoard() ? 'start' : 'star_border' }}
            </mat-icon>
          </button>
          <mat-divider [vertical]="true"></mat-divider>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div
              *ngFor="let member of board.members"
              [matTooltip]="member.username"
              class="user-avatar-wrapper"
            >
              <img [src]="member.avatarURL" [alt]="member.username" />
            </div>
          </div>
          <button mat-stroked-button [matMenuTriggerFor]="addMemberMenu">
            <mat-icon>person_add</mat-icon>
            <span>Invite</span>
          </button>
        </div>
      </div>
      <button mat-stroked-button (click)="boardMenu.toggle()" fxHide.xs>
        <mat-icon>menu</mat-icon>
        Board Menu
      </button>
      <button mat-icon-button fxHide fxShow.xs (click)="boardMenu.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <section
      *ngIf="lists$ | async as lists; else loadingLists"
      fxLayout="row"
      class="lists scrollbar-x scrollbar-thick scrollbar-white"
      fxFlex
      cdkDropListGroup
    >
      <app-list *ngFor="let list of lists" [listData]="list"></app-list>

      <div class="new-list" fxLayout="column">
        <button
          mat-flat-button
          [fxHide]="isNewListTemplateOpened"
          (click)="openNewListTemplate()"
        >
          <mat-icon>add</mat-icon>
          <span>Add List</span>
        </button>

        <mat-card
          fxLayout="column"
          [fxShow]="isNewListTemplateOpened"
          (focusout)="closeNewListTemplate()"
        >
          <mat-form-field>
            <mat-label>New List Title</mat-label>
            <textarea
              #newListTitleField
              matInput
              cdkTextareaAutosize
              (keydown.enter)="$event.preventDefault()"
              (keyup.enter)="onAddListToBoard()"
            ></textarea>
          </mat-form-field>
        </mat-card>
      </div>
    </section>

    <ng-template #loadingLists>
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-sidenav-content>

  <mat-sidenav
    fxLayout="column"
    #boardMenu
    position="end"
    [mode]="mobileQuery.matches ? 'over' : 'side'"
  >
    <div class="board-menu-container">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
        <h4>Menu</h4>
        <button
          mat-icon-button
          (click)="boardMenu.close(); isBoardBackColorsBlockOpened = false"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="column" class="body">
        <mat-action-list>
          <h3 matSubheader>Actions</h3>
          <mat-list-item (click)="boardMenu.close(); openNewListTemplate()">
            <mat-icon matListIcon>add</mat-icon>
            <h3 matLine>Add List</h3>
          </mat-list-item>
          <mat-list-item (click)="changeBoardFavor()">
            <mat-icon matListIcon>{{
              isUsersFavoriteBoard() ? 'star' : 'star_border'
            }}</mat-icon>
            <h3 matLine>
              {{
                isUsersFavoriteBoard()
                  ? 'Remove Board From Favorites'
                  : 'Add Board To Favorites'
              }}
            </h3>
          </mat-list-item>
          <mat-list-item (click)="toggleBoardBackColorBlock()">
            <mat-icon matListIcon>color_lens</mat-icon>
            <h3 matLine>Change Background Color</h3>
            <mat-icon>{{
              isBoardBackColorsBlockOpened ? 'arrow_drop_up' : 'arrow_drop_down'
            }}</mat-icon>
          </mat-list-item>
          <div
            *ngIf="isBoardBackColorsBlockOpened"
            class="board-back-colors-block"
          >
            <mat-card fxLayout="row wrap" fxLayoutAlign="center center">
              <mat-card
                *ngFor="let color of boardBackColors"
                class="color-card"
                [ngStyle]="{ 'background-color': color }"
                fxLayout="row"
                fxLayoutAlign="center center"
                (click)="onChangeBoardBackColor(board.backgroundColor, color)"
              >
                <mat-icon *ngIf="board.backgroundColor === color"
                  >check</mat-icon
                >
              </mat-card>
            </mat-card>
          </div>
          <mat-list-item
            *ngIf="isBoardAdmin(board.adminId, currUser.id)"
            class="warn-color"
            (click)="openBoardRemovalConfirmDialog(board.title)"
          >
            <mat-icon matListIcon>delete</mat-icon>
            <h3 matLine>Delete Board</h3>
          </mat-list-item>
          <mat-list-item
            class="warn-color"
            *ngIf="!isBoardAdmin(board.adminId, currUser.id)"
            (click)="onRemoveMember(currUser.id)"
          >
            <mat-icon matListIcon>arrow_forward</mat-icon>
            <h3 matLine>Leave Board</h3>
          </mat-list-item>
        </mat-action-list>
        <mat-list>
          <h3 matSubheader>Members ({{ board.members.length }})</h3>
          <mat-list-item *ngFor="let member of board.members">
            <img
              matListAvatar
              [src]="member.avatarURL"
              [alt]="member.username"
            />
            <h3 matLine>
              {{ member.fullName }}
              <span class="member-role">
                ({{
                  isBoardAdmin(board.adminId, member.id) ? 'Admin' : 'Member'
                }})
              </span>
            </h3>
            <p matLine>
              <span> @{{ member.username }} </span>
            </p>
            <button
              mat-icon-button
              color="warn"
              matTooltip="Remove from board"
              *ngIf="
                isBoardAdmin(board.adminId, currUser.id) &&
                member.id !== board.adminId
              "
              (click)="onRemoveMember(member.id)"
            >
              <mat-icon>remove_circle</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
        <button mat-button color="primary" [matMenuTriggerFor]="addMemberMenu">
          <mat-icon>person_add</mat-icon>
          <span>Add member</span>
        </button>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>

<mat-menu #addMemberMenu="matMenu" class="add-member-menu">
  <ng-template matMenuContent>
    <div fxLayout="column" fxLayoutGap="5px" (click)="$event.stopPropagation()">
      <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <span>Add Member To Board</span>
        <button
          mat-icon-button
          (click)="newMemberNameControl.reset(); menuTrigger.closeMenu()"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="body" fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Write new member username</mat-label>
          <input
            matInput
            placeholder="john123"
            [formControl]="newMemberNameControl"
            (keyup.enter)="onAddNewMember()"
          />
          <mat-error *ngIf="newMemberNameControl.hasError('emptyValue')">
            Please, provide valid username.
          </mat-error>
          <mat-error *ngIf="newMemberNameControl.hasError('selfInvitation')">
            You can't invite yourself.
          </mat-error>
          <mat-error *ngIf="newMemberNameControl.hasError('alreadyMember')">
            This user is already a board member.
          </mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          (click)="onAddNewMember()"
          [disabled]="newMemberNameControl.invalid"
        >
          Add Member
        </button>
      </div>
    </div>
  </ng-template>
</mat-menu>
