<mat-sidenav-container *ngIf="board" fxFlexFill>
  <mat-sidenav-content
    class="board-wrapper"
    fxLayout="column"
    [ngStyle]="{ 'background-color': board.backgroundColor }"
  >
    <div class="board-panel" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutGap="0.5rem">
        <input
          type="text"
          class="title-field"
          [formControl]="boardTitleControl"
          (keyup.enter)="$event.target.blur()"
          (focusout)="onEditBoardTitle(board.title)"
        />
        <mat-divider vertical></mat-divider>
        <div fxHide fxShow.gt-xs fxLayout="row" fxLayoutGap="0.5rem">
          <button
            mat-icon-button
            color="accent"
            (click)="onChangeBoardFavor()"
            [matTooltip]="
              isFavoriteBoard ? 'Remove from favorites' : 'Add to favorites'
            "
          >
            <mat-icon>
              {{ isFavoriteBoard ? 'start' : 'star_border' }}
            </mat-icon>
          </button>
          <mat-divider vertical></mat-divider>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div
              *ngFor="let member of board.members; trackBy: memberTrackByFn"
              [matTooltip]="member.username"
              class="user-avatar-wrapper"
            >
              <img [src]="member.avatarURL" [alt]="member.username" />
            </div>
          </div>
          <button mat-stroked-button [matMenuTriggerFor]="addMemberMenu">
            <mat-icon>person_add</mat-icon>
            <span>Invite</span>
          </button>
        </div>
      </div>
      <button mat-stroked-button (click)="sidenavMenu.toggle()" fxHide.xs>
        <mat-icon>menu</mat-icon>
        Board Menu
      </button>
      <button mat-icon-button fxHide fxShow.xs (click)="sidenavMenu.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <section
      *ngIf="lists$ | async as lists; else loadingLists"
      fxLayout="row"
      class="lists scrollbar-x scrollbar-thick scrollbar-white"
      fxFlex
      cdkDropListGroup
    >
      <app-list
        *ngFor="let list of lists; trackBy: listTrackByFn"
        [listData]="list"
      ></app-list>

      <div class="new-list">
        <mat-accordion class="new-board-item-exp-panel">
          <mat-expansion-panel
            [expanded]="isNewListPanelOpened"
            (opened)="openNewListPanel()"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>add</mat-icon>
                Add List
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field appearance="fill" fxFlex>
              <mat-label>New List Title</mat-label>
              <input
                matInput
                [formControl]="newListTitleControl"
                (keyup.enter)="onAddListToBoard()"
              />
            </mat-form-field>

            <mat-action-row fxLayoutAlign="space-between center">
              <button mat-button (click)="closeNewListPanel()">Close</button>
              <button
                mat-flat-button
                color="primary"
                (click)="onAddListToBoard()"
                [disabled]="newListTitleControl.invalid"
              >
                Add
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </section>

    <ng-template #loadingLists>
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-sidenav-content>

  <mat-sidenav
    fxLayout="column"
    #sidenavMenu
    position="end"
    mode="over"
    autoFocus="false"
  >
    <div class="board-menu-container">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
        <h4>Menu</h4>
        <button mat-icon-button (click)="sidenavMenu.close()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="column" class="body">
        <mat-action-list>
          <h3 matSubheader>Actions</h3>
          <mat-list-item (click)="sidenavMenu.close(); openNewListPanel()">
            <mat-icon matListIcon>add</mat-icon>
            <h3 matLine>Add List</h3>
          </mat-list-item>
          <mat-list-item (click)="onChangeBoardFavor()">
            <mat-icon matListIcon>{{
              isFavoriteBoard ? 'star' : 'star_border'
            }}</mat-icon>
            <h3 matLine>
              {{
                isFavoriteBoard
                  ? 'Remove Board From Favorites'
                  : 'Add Board To Favorites'
              }}
            </h3>
          </mat-list-item>
          <mat-list-item
            *ngIf="isCurrUserBoardAdmin"
            class="warn-color"
            (click)="openBoardRemovalConfirmDialog(board.title)"
          >
            <mat-icon matListIcon>delete</mat-icon>
            <h3 matLine>Delete Board</h3>
          </mat-list-item>
          <mat-list-item
            class="warn-color"
            *ngIf="currUser.id !== board.adminId"
            (click)="onRemoveMember(currUser.id)"
          >
            <mat-icon matListIcon>arrow_forward</mat-icon>
            <h3 matLine>Leave Board</h3>
          </mat-list-item>
        </mat-action-list>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title fxLayoutAlign="start center" fxLayoutGap="18px">
                <mat-icon>color_lens</mat-icon>
                <span class="exp-panel-title">Change Board Color</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <div class="board-color-cards-grid">
                <mat-card
                  *ngFor="let color of boardBackColors"
                  [ngStyle]="{ 'background-color': color }"
                  fxLayoutAlign="center center"
                  (click)="onChangeBoardBackColor(board.backgroundColor, color)"
                >
                  <mat-icon *ngIf="board.backgroundColor === color">
                    check
                  </mat-icon>
                </mat-card>
              </div>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-list>
          <h3 matSubheader>Members ({{ board.members.length }})</h3>
          <mat-list-item
            *ngFor="let member of board.members; trackBy: memberTrackByFn"
          >
            <img
              matListAvatar
              [src]="member.avatarURL"
              [alt]="member.username"
            />
            <h3 matLine>
              {{ member.fullName }}
              <span class="member-role">
                ({{ member.id === board.adminId ? 'Admin' : 'Member' }})
              </span>
            </h3>
            <p matLine>
              <span> @{{ member.username }} </span>
            </p>
            <button
              mat-icon-button
              color="warn"
              matTooltip="Remove from board"
              *ngIf="isCurrUserBoardAdmin && member.id !== board.adminId"
              (click)="onRemoveMember(member.id)"
            >
              <mat-icon>remove_circle</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
        <button mat-button color="primary" [matMenuTriggerFor]="addMemberMenu">
          <mat-icon>person_add</mat-icon>
          <span>Add member</span>
        </button>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>

<mat-menu
  #addMemberMenu="matMenu"
  class="add-member-menu"
  (closed)="newMemberNameControl.reset()"
>
  <ng-template matMenuContent>
    <div fxLayout="column" (click)="$event.stopPropagation()">
      <div class="header">
        <span>Add Member To Board</span>
        <button
          mat-icon-button
          class="close-menu-btn"
          (click)="newMemberMenuTrigger.closeMenu()"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="body" fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>New member's username</mat-label>
          <input
            matInput
            placeholder="john123"
            [formControl]="newMemberNameControl"
            (keyup.enter)="onAddNewMember()"
          />
          <mat-error *ngIf="newMemberNameControl.hasError('emptyValue')">
            Please, provide valid username.
          </mat-error>
          <mat-error *ngIf="newMemberNameControl.hasError('selfInvitation')">
            You can't invite yourself.
          </mat-error>
          <mat-error *ngIf="newMemberNameControl.hasError('alreadyMember')">
            This user is already a board member.
          </mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          (click)="onAddNewMember()"
          [disabled]="newMemberNameControl.invalid"
        >
          Add Member
        </button>
      </div>
    </div>
  </ng-template>
</mat-menu>
