@import '../../../scss/variables.scss';

mat-sidenav-container {
  mat-sidenav-content.board-wrapper {
    background-color: $defaultBackgroundColor;

    .board-panel {
      height: 3rem;
      padding: 0 0.5rem;
      color: $whiteColor;
      border-bottom: $listHorizontalBorder;

      .title-field {
        color: $whiteColor;
        background-color: transparent;
        border: none;
        outline: none;
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        font-size: 1.25rem;
        font-weight: bold;
        text-overflow: ellipsis;

        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.1);
        }

        &:focus {
          background-color: $whiteColor;
          color: $darkBlueColor;
          cursor: default;
        }
      }
    }

    .lists .new-list {
      min-width: 250px;
      padding: 0.25rem;
    }
  }

  mat-sidenav {
    .board-menu-container {
      width: 300px;
      height: 100%;
      color: $darkBlueColor;

      .header {
        padding-left: 1rem;
      }

      .body {
        mat-accordion mat-expansion-panel {
          &:not(.mat-expanded) {
            box-shadow: none;
            border-radius: 0;
          }

          mat-expansion-panel-header {
            padding: 0 22px;

            .exp-panel-title {
              font-size: 1rem;
            }
          }

          .board-color-cards-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 1fr;
            gap: 0.5rem;

            mat-card {
              color: #fff;

              &:hover {
                cursor: pointer;
                opacity: 0.8;
              }
            }
          }
        }

        .warn-color {
          color: $warnColor !important;
        }

        .member-role {
          font-size: 1rem;
          font-style: italic;
        }
      }
    }
  }
}
