@import '../../../scss/variables.scss';

mat-sidenav-container {
  width: 100%;
  height: 100%;

  mat-sidenav-content.board-wrapper {
    background-color: $defaultBackgroundColor;

    .board-panel {
      min-height: 40px;
      padding: 5px 10px 5px 5px;
      color: $whiteColor;
      border-bottom: $listHorizontalBorder;

      .title-field {
        color: $whiteColor;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        padding: 5px;
        outline: 0;
        font-size: 20px;
        font-weight: 600;
        text-overflow: ellipsis;
      }

      .title-field:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
      }

      .title-field:focus {
        background-color: $whiteColor;
        color: $darkBlueColor;
        cursor: default;
      }
    }

    .lists {
      .new-list {
        min-width: 250px;
        padding: 5px;
      }
    }
  }

  mat-sidenav {
    .board-menu-container {
      width: 300px;
      height: 100%;
      color: $darkBlueColor;

      .header {
        padding-left: 10px;
      }

      .body {
        mat-accordion mat-expansion-panel {
          &:not(.mat-expanded) {
            box-shadow: none;
            border-radius: 0;
          }

          mat-expansion-panel-header {
            padding: 0 22px;

            .exp-panel-title {
              font-size: 1rem;
            }
          }

          .board-color-cards-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 1fr;
            gap: 0.5rem;

            mat-card {
              color: #fff;

              &:hover {
                cursor: pointer;
                opacity: 0.8;
              }
            }
          }
        }

        .warn-color {
          color: $warnColor !important;
        }

        .member-role {
          font-size: 12px;
          font-style: italic;
        }
      }
    }
  }
}

.cdk-overlay-pane {
  max-width: 300px;

  .add-member-menu {
    max-width: 300px;
    width: 300px;
    box-sizing: border-box;
    padding: 0 5px;

    .header {
      padding-left: 10px;
    }
  }
}
