@import '../../../../scss/variables.scss';

.list {
  height: 100%;
  width: 250px;
  border-right: $listVerticalBorder;

  .header {
    color: $whiteColor;
    border-bottom: $listHorizontalBorder;

    .field-wrapper {
      padding: 5px;
      box-sizing: border-box;

      .field {
        padding: 5px;
        font-size: 18px;
        word-wrap: break-word;
        border-radius: 5px;
        overflow: hidden;
        color: $whiteColor;
        background-color: transparent;
        border: none;
        outline: 0;
      }

      .field:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
      }

      .field:focus {
        background-color: $whiteColor;
        color: $darkBlueColor;
        cursor: text;
        border-radius: 5px;
      }
    }
  }

  .body {
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 3px;

    .card {
      padding: 10px;

      .title {
        word-wrap: break-word;
      }
    }

    .card:hover {
      cursor: pointer;
      background-color: $darkerWhiteColor;
    }
  }
}

.remove-list-btn {
  color: $warnColor;
}
