<div
  *ngIf="card; else loadingCardData"
  class="wrapper"
  fxLayout="row"
  fxLayout.lt-sm="column"
>
  <a
    *ngIf="card.wallpaperURL as wallpaperURL"
    [href]="wallpaperURL"
    target="_blank"
    class="card-wallpaper-wrapper"
  >
    <img [src]="wallpaperURL" />
  </a>

  <button mat-icon-button mat-dialog-close>
    <mat-icon>clear</mat-icon>
  </button>

  <section
    class="card-content-section"
    [ngClass]="{ 'card-with-wallpaper': card.wallpaperURL }"
    fxLayout="column"
    fxLayoutGap="15px"
    fxFlex
  >
    <div fxLayout="column">
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        class="content-block-header"
      >
        <mat-icon>short_text</mat-icon>
        <div class="card-title-field-wrapper" fxFlex>
          <textarea
            #cardTitleField
            matInput
            cdkTextareaAutosize
            class="card-title-field"
            [value]="card.title"
            (keydown.enter)="$event.preventDefault()"
            (keyup.enter)="$event.target.blur(); onCardTitleEdit(card.title)"
          ></textarea>
        </div>
      </div>
      <div class="content-block-body">
        <span class="card-location-text">
          in list
          <span class="card-list-title">{{ data.listTitle }}</span>
        </span>
      </div>
    </div>

    <div
      *ngIf="card.usersIdsWhoVoted.length as votesAmount"
      fxLayout="row"
      class="content-block-header"
      fxLayoutAlign="start center"
    >
      <mat-icon>thumb_up</mat-icon>
      <span class="label">Votes:&nbsp;</span>
      <span>{{ votesAmount }}</span>
    </div>

    <div *ngIf="card.tags.length" fxLayout="column">
      <div
        fxLayout="row"
        class="content-block-header"
        fxLayoutAlign="start center"
      >
        <mat-icon>label</mat-icon>
        <span class="label">Tags</span>
      </div>
      <div class="content-block-body" ngClass.lt-sm="lt-sm_content-block-body">
        <div class="tags-list">
          <mat-chip-list>
            <mat-chip
              *ngFor="let tag of card.tags"
              (removed)="removeTagFromCard(tag.id)"
              [ngStyle]="{ 'background-color': tag.color }"
            >
              <span class="tag-name">{{ tag.name }}</span>
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>

    <div fxLayout="column">
      <div
        fxLayout="row"
        class="content-block-header"
        fxLayoutAlign="start center"
      >
        <mat-icon>description</mat-icon>
        <span class="label">Description</span>
      </div>
      <mat-form-field
        appearance="fill"
        class="content-block-body"
        ngClass.lt-sm="lt-sm_content-block-body"
      >
        <textarea
          #cardDescriptionField
          matInput
          cdkTextareaAutosize
          class="card-description-field"
          placeholder="Add more detailed card description"
          [value]="card.description"
          (focusout)="
            $event.target.blur(); onCardDescriptionEdit(card.description)
          "
        ></textarea>
      </mat-form-field>
    </div>

    <div
      fxLayout="column"
      *ngIf="filesToUpload.length || card.attachments.length"
    >
      <div
        fxLayout="row"
        class="content-block-header"
        fxLayoutAlign="start center"
      >
        <mat-icon>attachment</mat-icon>
        <span class="label">Attachments</span>
      </div>
      <div
        class="content-block-body"
        fxLayout="column"
        fxLayoutGap="10px"
        ngClass.lt-sm="lt-sm_content-block-body"
      >
        <app-card-file-upload
          *ngFor="let file of filesToUpload; index as i"
          [file]="file"
          [cardId]="card.id"
          (uploaded)="onFileUploaded($event, i)"
        ></app-card-file-upload>
        <div
          class="attachments-list"
          fxLayout="row wrap"
          fxLayoutAlign="space-between stretch"
          fxLayout.xs="column"
          fxLayoutAlign.xs="center center"
        >
          <mat-card
            *ngFor="let attachment of card.attachments"
            class="attachment-card"
            [ngClass]="{
              'non-graphical-attachment': !attachmentIsImage(attachment)
            }"
            ngClass.xs="xs_attachment-card"
          >
            <a [href]="attachment.url" target="_blank">
              <div class="preview-wrapper">
                <img
                  *ngIf="attachmentIsImage(attachment)"
                  [src]="attachment.url"
                  [alt]="attachment.name"
                />
                <span *ngIf="!attachmentIsImage(attachment)">
                  {{ attachment.extension }}
                </span>
              </div>
            </a>
            <mat-card-content>
              <h3>{{ attachment.name }}</h3>
              <span>Size: {{ getReadableAttachmentSize(attachment) }}</span>
              <br />
              <span>
                Attached:
                {{ getReadableAttachmentTimestamp(attachment) }}
              </span>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="space-between center">
              <button
                mat-button
                [color]="attachmentIsWallpaper(attachment) ? 'warn' : 'primary'"
                [style.visibility]="
                  attachmentIsImage(attachment) ? 'visible' : 'hidden'
                "
                (click)="onSetCardWallpaper(attachment)"
              >
                <span>
                  {{
                    attachmentIsWallpaper(attachment)
                      ? 'Remove Wallpaper'
                      : 'Set Wallpaper'
                  }}</span
                >
              </button>
              <button
                mat-icon-button
                color="warn"
                matTooltip="Remove attachment"
                matTooltipPosition="left"
                (click)="removeCardAttachment(attachment)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </section>

  <section
    class="card-panel"
    [ngClass]="{ 'card-with-wallpaper': card.wallpaperURL }"
    ngClass.lt-sm="lt-sm_card-panel"
    fxFlex.gt-sm="20%"
    fxLayout="column"
    fxLayoutAlign="start stretch"
  >
    <p>Add to card</p>
    <div fxLayout="column" fxLayoutGap="10px" fxLayout.lt-sm="row wrap">
      <button
        mat-stroked-button
        [matMenuTriggerFor]="tagsMenu"
        #tagsMenuTrigger="matMenuTrigger"
      >
        <mat-icon>label</mat-icon>
        <span>Tag</span>
      </button>
      <button
        mat-stroked-button
        [matMenuTriggerFor]="attachmentMenu"
        #attachmentMenuTrigger="matMenuTrigger"
      >
        <mat-icon>attachment</mat-icon>
        <span>Attachment</span>
      </button>
      <button
        mat-stroked-button
        [matMenuTriggerFor]="wallpaperMenu"
        #wallpaperMenuTrigger="matMenuTrigger"
      >
        <mat-icon>wallpaper</mat-icon>
        <span>Wallpaper</span>
      </button>
    </div>

    <p>Actions</p>
    <div fxLayout="column" fxLayoutGap="10px" fxLayout.lt-sm="row wrap">
      <button
        *ngIf="card.usersIdsWhoVoted.includes(currUser?.id)"
        mat-flat-button
        color="primary"
        (click)="onVoteChange(false)"
      >
        <mat-icon>thumb_up</mat-icon>
        <span>Voted</span>
      </button>
      <button
        *ngIf="!card.usersIdsWhoVoted.includes(currUser?.id)"
        mat-stroked-button
        (click)="onVoteChange(true)"
      >
        <mat-icon>thumb_up</mat-icon>
        <span>Vote</span>
      </button>
      <mat-divider fxHide.lt-sm></mat-divider>
      <button
        mat-stroked-button
        color="warn"
        (click)="onCardRemove(card.id, card.title)"
      >
        <mat-icon>delete</mat-icon>
        <span>Remove</span>
      </button>
    </div>
  </section>
</div>
<ng-template #loadingCardData>
  <div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<mat-menu #tagsMenu="matMenu" xPosition="before">
  <ng-template matMenuContent>
    <div
      fxLayout="column"
      class="card-action-menu tags-menu"
      (click)="$event.stopPropagation()"
    >
      <button
        mat-icon-button
        class="close-menu-btn"
        (click)="tagsMenuTrigger.closeMenu()"
      >
        <mat-icon>clear</mat-icon>
      </button>
      <div class="header">
        <span>Tags</span>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="column" class="body">
        <span class="tip-text">Click on tag to modify its name.</span>
        <div fxLayout="column" fxLayoutGap="5px">
          <div
            *ngFor="let boardTag of boardTags"
            class="tag-row"
            fxLayoutAlign="start center"
            fxLayoutGap="10px"
          >
            <mat-checkbox
              [checked]="cardHasTag(boardTag.id)"
              onEditBoardTitle
              (change)="onTagStateChange(boardTag.id)"
            ></mat-checkbox>
            <input
              type="text"
              class="tag-field"
              [value]="boardTag.name"
              [ngStyle]="{
                'background-color': boardTag.color,
                'border-color': boardTag.color
              }"
              (keyup.enter)="$event.target.blur()"
              (focusout)="
                onTagNameEdit(
                  boardTag.name,
                  $event.target.value.trim(),
                  boardTag.id
                )
              "
              fxFlex
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</mat-menu>

<mat-menu #attachmentMenu="matMenu">
  <ng-template matMenuContent>
    <div
      fxLayout="column"
      class="card-action-menu attachment-menu"
      (click)="$event.stopPropagation()"
    >
      <button
        mat-icon-button
        class="close-menu-btn"
        (click)="attachmentMenuTrigger.closeMenu()"
      >
        <mat-icon>clear</mat-icon>
      </button>
      <div class="header">
        <span>Attachment</span>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="column" class="body">
        <div
          class="drop-area"
          dropArea
          (dropped)="onFilesUpload($event)"
          (hovered)="toggleDropAreaHover($event)"
          fxLayout="column"
          fxLayoutAlign="center center"
          [ngClass]="{ ' hovered ': isDropAreaHovered }"
          fxFlex
        >
          <span>Drop files here</span>
          <span>or</span>
          <a href="" (click)="$event.preventDefault(); fileInput.click()">
            Browse
          </a>
          <input
            type="file"
            (change)="onFilesUpload($event.target.files)"
            multiple
            hidden
            #fileInput
          />
        </div>
      </div>
    </div>
  </ng-template>
</mat-menu>

<mat-menu #wallpaperMenu="matMenu">
  <ng-template matMenuContent>
    <div
      fxLayout="column"
      class="card-action-menu wallpaper-menu"
      (click)="$event.stopPropagation()"
    >
      <button
        mat-icon-button
        class="close-menu-btn"
        (click)="wallpaperMenuTrigger.closeMenu()"
      >
        <mat-icon>clear</mat-icon>
      </button>
      <div class="header">
        <span>Wallpaper</span>
      </div>
      <mat-divider></mat-divider>
      <div
        *ngIf="getImageAttachments().length; else noImageAttachments"
        fxLayout="column"
        class="body"
      >
        <div class="image-attachments-list thin-scrollbar" fxLayout="row wrap">
          <div
            *ngFor="let imageAttachment of getImageAttachments()"
            class="image-attachment"
            [ngClass]="{
              'current-wallpaper': imageAttachment.url === card.wallpaperURL
            }"
            (click)="onSetCardWallpaper(imageAttachment)"
          >
            <img [src]="imageAttachment.url" [alt]="imageAttachment.name" />
          </div>
        </div>
        <button
          mat-raised-button
          color="warn"
          (click)="onWallpaperRemove()"
          [disabled]="!card.wallpaperURL"
        >
          Remove Wallpaper
        </button>
      </div>
      <ng-template #noImageAttachments>
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          class="no-image-attachments-block"
        >
          <span>You don't have any image attachments.</span>
          <span
            >Try to
            <button
              mat-button
              color="primary"
              (click)="
                wallpaperMenuTrigger.closeMenu();
                attachmentMenuTrigger.openMenu()
              "
            >
              Add Attachment
            </button>
            first.
          </span>
        </div>
      </ng-template>
    </div>
  </ng-template>
</mat-menu>
