@import '../../../../scss/variables.scss';
$dialogPadding: 24;
$cardWallpaperHeight: 200;

.wrapper {
  position: relative;
  color: $darkBlueColor;

  .card-wallpaper-wrapper {
    position: absolute;
    top: -$dialogPadding * 1px;
    left: -$dialogPadding * 1px;
    width: calc(100% + #{$dialogPadding * 2}px);
    height: $cardWallpaperHeight * 1px;
    display: flex;
    justify-content: center;
    background-color: darkturquoise;

    &:hover {
      background-color: darken(darkturquoise, 5%);
    }

    img {
      object-fit: scale-down;
    }
  }

  button[mat-icon-button][mat-dialog-close] {
    position: absolute;
    top: -15px;
    right: -15px;
    margin: 0 !important;
  }

  .card-content-section {
    padding-right: 15px;

    &.card-with-wallpaper {
      padding-top: $cardWallpaperHeight - 15 * 1px;
    }

    .content-block-header {
      min-height: 25px;

      .label {
        font-size: 18px;
        padding-left: 5px;
      }

      .card-title-field-wrapper {
        padding-right: 10px;

        .card-title-field {
          padding: 5px;
          font-size: 20px;
          word-wrap: break-word;
          border-radius: 5px;
          overflow: hidden;
          border: 1px solid transparent;
        }

        .card-title-field:hover {
          background-color: rgba(0, 0, 0, 0.1);
          cursor: pointer;
        }

        .card-title-field:focus {
          background-color: white;
          border: 1px solid $darkBlueColor;
          cursor: text;
        }
      }
    }

    .content-block-body {
      padding: 5px 0 0 30px;

      .card-location-text {
        font-size: 12px;

        .card-list-title {
          font-style: italic;
          font-weight: bold;
        }
      }

      .card-description-field {
        min-height: 50px;
      }

      .tags-list {
        mat-chip {
          min-width: calc(25% - 8px);
          max-width: calc(50% - 8px);
          color: $whiteColor;
          justify-content: space-between;

          .tag-name {
            text-overflow: ellipsis;
            overflow: hidden;
          }

          mat-icon {
            color: $whiteColor;
          }
        }
      }

      .attachments-list {
        .attachment-card {
          $previewBlockHeight: 120px;

          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 41%;
          margin-bottom: 10px;

          &:hover {
            box-shadow: 0 5px 10px 0 rgba($primaryColor, 0.4);
          }

          a {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: lightgrey;
            font-size: 1.5rem;
            font-weight: bold;
            color: $primaryColor;
            text-decoration: none;
            text-transform: uppercase;
            height: $previewBlockHeight;

            .preview-wrapper {
              position: relative;
              width: 100%;
              height: 100%;

              img,
              span {
                object-fit: scale-down;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-height: $previewBlockHeight;
              }
            }
          }

          mat-card-content {
            font-size: 0.8rem;
            word-break: break-word;
            padding-top: $previewBlockHeight - 5px;
            margin-bottom: 5px;
          }

          mat-card-actions {
            padding: 0;
          }
        }

        .xs_attachment-card {
          width: 80%;
        }
      }
    }

    .lt-sm_content-block-body {
      padding-left: 0;
    }
  }

  .card-panel {
    padding-top: 20px;

    &.card-with-wallpaper {
      padding-top: $cardWallpaperHeight - 25 * 1px;
    }
  }

  .lt-sm_card-panel {
    button {
      margin-bottom: 10px;
      width: calc(50% - 10px);
    }
  }
}

.card-action-menu {
  &.tags-menu {
    .body {
      .tip-text {
        padding: 10px 0;
        font-size: 12px;
        color: grey;
      }
      .tag-row {
        padding-left: 5px;

        .tag-field {
          height: 30px;
          color: $whiteColor;
          border: 0;
          outline: 0;
          border-width: 1px;
          border-style: solid;
          border-radius: 5px;
          padding: 2px 5px;
          text-overflow: ellipsis;

          &:hover {
            opacity: 0.8;
            cursor: pointer;
          }

          &:focus {
            background-color: transparent !important;
            color: #000;
            cursor: text;
            opacity: 1;
          }
        }
      }
    }
  }

  &.attachment-menu {
    .body {
      height: 150px;
      padding-top: 5px;
      font-size: 12px;
      color: grey;

      .drop-area {
        border: 2px dashed $primaryColor;
        border-radius: 5px;

        &.hovered {
          border-style: solid;
          color: $primaryColor;
        }
      }
    }
  }

  &.wallpaper-menu {
    .body {
      .image-attachments-list {
        max-height: 180px;
        justify-content: space-between;
        align-items: flex-start;
        padding: 5px;
        margin-top: 5px;

        .image-attachment {
          display: flex;
          width: 48%;
          background-color: lightgrey;
          border-radius: 4px;
          height: 80px;
          margin-bottom: 5px;

          img {
            object-fit: scale-down;
            width: 100%;
          }

          &.current-wallpaper {
            box-shadow: 0 0 0 2px $primaryColor;
          }

          &:hover {
            opacity: 0.8;
            cursor: pointer;
          }
        }
      }
    }

    .no-image-attachments-block {
      height: 150px;
      font-size: 12px;
      color: grey;
    }
  }

  &.members-menu {
    .body {
      max-height: 220px;
      margin: 0 -2px 0 -5px;

      .mat-list-base {
        padding-top: 0;

        .mat-list-option {
          height: 55px;

          img.mat-list-avatar {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }

  &.move-card-menu {
    .body {
      padding-top: 10px;
    }
  }
}
