<div
  *ngIf="card; else loadingCardData"
  class="wrapper"
  fxLayout="row"
  fxLayout.lt-sm="column"
>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>clear</mat-icon>
  </button>

  <section
    class="card-content-section"
    fxLayout="column"
    fxLayoutGap="15px"
    fxFlex
  >
    <div fxLayout="column">
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        class="content-block-header"
      >
        <mat-icon>short_text</mat-icon>
        <div class="card-title-field-wrapper" fxFlex>
          <textarea
            #cardTitleField
            matInput
            cdkTextareaAutosize
            class="card-title-field"
            [value]="card.title"
            (keydown.enter)="$event.preventDefault()"
            (keyup.enter)="$event.target.blur(); onCardTitleEdit(card.title)"
          ></textarea>
        </div>
      </div>
      <div class="content-block-body">
        <span class="card-location-text">
          in list
          <span class="card-list-title">{{ data.listTitle }}</span>
        </span>
      </div>
    </div>

    <div
      *ngIf="card.usersIdsWhoVoted.length as votesAmount"
      fxLayout="row"
      class="content-block-header"
      fxLayoutAlign="start center"
    >
      <mat-icon>thumb_up</mat-icon>
      <span class="label">Votes:&nbsp;</span>
      <span>{{ votesAmount }}</span>
    </div>

    <div *ngIf="card.tags.length" fxLayout="column">
      <div
        fxLayout="row"
        class="content-block-header"
        fxLayoutAlign="start center"
      >
        <mat-icon>label</mat-icon>
        <span class="label">Tags</span>
      </div>
      <div class="content-block-body">
        <div class="tags-list">
          <mat-chip-list>
            <mat-chip
              *ngFor="let tag of card.tags"
              (removed)="removeTagFromCard(tag.id)"
              [ngStyle]="{ 'background-color': tag.color }"
            >
              <span class="tag-name">{{ tag.name }}</span>
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>

    <div fxLayout="column">
      <div
        fxLayout="row"
        class="content-block-header"
        fxLayoutAlign="start center"
      >
        <mat-icon>description</mat-icon>
        <span class="label">Description</span>
      </div>
      <mat-form-field
        appearance="fill"
        class="content-block-body"
        ngClass.lt-sm="lt-sm_content-block-body"
      >
        <textarea
          #cardDescriptionField
          matInput
          cdkTextareaAutosize
          class="card-description-field"
          placeholder="Add more detailed card description"
          [value]="card.description"
          (focusout)="
            $event.target.blur(); onCardDescriptionEdit(card.description)
          "
        ></textarea>
      </mat-form-field>
    </div>
  </section>

  <section
    class="card-panel"
    ngClass.lt-sm="lt-sm_card-panel"
    fxFlex.gt-sm="20%"
    fxLayout="column"
    fxLayoutAlign="start stretch"
  >
    <p>Add to card</p>
    <div fxLayout="column" fxLayoutGap="10px" fxLayout.lt-sm="row wrap">
      <button mat-stroked-button disabled>
        <mat-icon>people</mat-icon>
        <span>Members</span>
      </button>
      <button mat-stroked-button [matMenuTriggerFor]="tagsMenu">
        <mat-icon>label</mat-icon>
        <span>Tag</span>
      </button>
      <button mat-stroked-button disabled>
        <mat-icon>attachment</mat-icon>
        <span>Attachment</span>
      </button>
      <button mat-stroked-button disabled>
        <mat-icon>wallpaper</mat-icon>
        <span>Cover</span>
      </button>
    </div>

    <p>Actions</p>
    <div fxLayout="column" fxLayoutGap="10px" fxLayout.lt-sm="row wrap">
      <button mat-stroked-button disabled>
        <mat-icon>arrow_forward</mat-icon>
        <span>Move</span>
      </button>
      <button
        *ngIf="card.usersIdsWhoVoted.includes(currUser?.id)"
        mat-flat-button
        color="primary"
        (click)="onVoteChange(false)"
      >
        <mat-icon>thumb_up</mat-icon>
        <span>Voted</span>
      </button>
      <button
        *ngIf="!card.usersIdsWhoVoted.includes(currUser?.id)"
        mat-stroked-button
        (click)="onVoteChange(true)"
      >
        <mat-icon>thumb_up</mat-icon>
        <span>Vote</span>
      </button>
      <mat-divider fxHide.lt-sm></mat-divider>
      <button
        mat-stroked-button
        color="warn"
        (click)="onCardRemove(card.id, card.title)"
      >
        <mat-icon>delete</mat-icon>
        <span>Remove</span>
      </button>
    </div>
  </section>
</div>
<ng-template #loadingCardData>
  <div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<mat-menu #tagsMenu="matMenu" xPosition="before">
  <ng-template matMenuContent>
    <div fxLayout="column" class="tags-menu" (click)="$event.stopPropagation()">
      <button
        mat-icon-button
        class="close-menu-btn"
        (click)="menuTrigger.closeMenu()"
      >
        <mat-icon>clear</mat-icon>
      </button>
      <div class="header">
        <span>Tags</span>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="column" class="body">
        <span class="tip-text">Click on tag to modify its name.</span>
        <div fxLayout="column" fxLayoutGap="5px">
          <div
            *ngFor="let boardTag of boardTags"
            class="tag-row"
            fxLayoutAlign="start center"
            fxLayoutGap="10px"
          >
            <mat-checkbox
              [checked]="cardHasTag(boardTag.id)"
              onEditBoardTitle
              (change)="onTagStateChange(boardTag.id)"
            ></mat-checkbox>
            <input
              type="text"
              class="tag-field"
              [value]="boardTag.name"
              [ngStyle]="{
                'background-color': boardTag.color,
                'border-color': boardTag.color
              }"
              (keyup.enter)="$event.target.blur()"
              (focusout)="
                onTagNameEdit(
                  boardTag.name,
                  $event.target.value.trim(),
                  boardTag.id
                )
              "
              fxFlex
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</mat-menu>
