/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~typeface-roboto/index.css';
@import '~typeface-lobster/index.css';
@import './scss/variables.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.proj-title {
  font-family: 'Lobster', cursive;
  font-size: 22.5px;
  color: $primaryColor;
}

.user-avatar-wrapper {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}

.scrollbar {
  &-x {
    overflow-x: auto;
    overflow-y: hidden;
  }

  &-y {
    overflow-y: auto;
    overflow-x: hidden;
  }

  &-thin::-webkit-scrollbar {
    width: 5px;
  }

  &-thick::-webkit-scrollbar {
    width: 10px;
  }

  &-thin::-webkit-scrollbar-track,
  &-thick::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 5px;
  }

  &-thin::-webkit-scrollbar-thumb,
  &-thick::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
    border-radius: 5px;
  }

  &-white::-webkit-scrollbar-thumb {
    background-color: $darkerWhiteColor;
  }
}

.card-action-menu,
.add-member-menu {
  width: 300px;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  box-sizing: border-box;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $darkBlueColor;
    padding-left: 0.25rem;
    font-weight: 500;

    .close-menu-btn {
      width: 30px;
      height: 30px;
      line-height: 30px;

      mat-icon {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }

  .body {
    margin-top: 0.5rem;
  }
}

.snackbar {
  &-success {
    background-color: $successColor;
  }
  &-warning {
    background-color: $accentColor;
  }
  &-error {
    background-color: $warnColor;
  }
}

.cdk-global-overlay-wrapper.card-dialog-overlay {
  overflow: auto;
  pointer-events: auto;

  .mat-dialog-container {
    margin: 20px 0;
    overflow-x: hidden !important;
  }
}
