/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~typeface-roboto/index.css';
@import '~typeface-lobster/index.css';
@import './scss/variables.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.proj-title {
  font-family: 'Lobster', cursive;
  font-size: 22.5px;
  color: $primaryColor;
}

.user-avatar-wrapper {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}

.scrollbar {
  &-x {
    overflow-x: auto;
    overflow-y: hidden;
  }

  &-y {
    overflow-y: auto;
    overflow-x: hidden;
  }

  &-thin::-webkit-scrollbar {
    width: 5px;
  }

  &-thick::-webkit-scrollbar {
    width: 10px;
  }

  &-thin::-webkit-scrollbar-track,
  &-thick::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 5px;
  }

  &-thin::-webkit-scrollbar-thumb,
  &-thick::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
    border-radius: 5px;
  }

  &-white::-webkit-scrollbar-thumb {
    background-color: $darkerWhiteColor;
  }
}

.card-action-menu,
.list-action-menu {
  width: 250px;
  padding: 0 5px;
  position: relative;

  .close-menu-btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: -2px;
    right: 2px;

    mat-icon {
      font-size: 20px;
    }
  }

  .header {
    padding: 5px;
    color: $darkBlueColor;
  }
}

.cdk-global-overlay-wrapper.card-dialog-overlay {
  overflow: auto;
  pointer-events: auto;

  .mat-dialog-container {
    margin: 20px 0;
    overflow-x: hidden !important;
  }
}
