/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import './scss/variables.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.proj-title {
  font-family: "Lobster", cursive;
  font-size: 22.5px;
  color: $primaryColor;
}
