// Colors
$primaryColor: #673ab7;
$successColor: #2c9e2c;
$accentColor: #ffa500;
$warnColor: #f44336;

$darkBlueColor: #172b4d;
$whiteColor: #ffffff;
$darkerWhiteColor: darken($whiteColor, 10%);

// Board variables
$defaultBackgroundColor: #3cb44b;
$listBorderColor: rgba(255, 255, 255, 0.5);
$listHorizontalBorder: 2px dotted $listBorderColor;
$listVerticalBorder: 3px dashed $listBorderColor;
