// Default Material colors
$primaryColor: #673ab7;
$accentColor: #ffd740;
$warnColor: #f44336;

// Custom colors
$darkBlueColor: #172b4d;
$whiteColor: #ffffff;
$darkerWhiteColor: #dcdcdc;

// Board variables
$defaultBackgroundColor: #3cb44b;
$listBorderColor: rgba(255, 255, 255, 0.5);
$listHorizontalBorder: 2px dotted $listBorderColor;
$listVerticalBorder: 3px dashed $listBorderColor;
