@import '../../scss/variables.scss';
@import '~@angular/flex-layout/mq';

.boards-section {
  padding: 0.5rem 1rem;

  .header {
    padding: 0.5rem 0;

    .title {
      color: $darkBlueColor;

      h3 {
        margin: 0;
      }
    }
  }

  .boards-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 6rem;
    gap: 1rem;

    .board-card {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 1.5rem;
      text-align: center;
      outline: none;
      transition: 0.3s ease;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      @include layout-bp(gt-xs) {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        font-size: 1.25rem;
      }
    }

    @include layout-bp(sm) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include layout-bp(md) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include layout-bp(lg) {
      grid-template-columns: repeat(5, 1fr);
    }

    @include layout-bp(gt-lg) {
      grid-template-columns: repeat(7, 1fr);
    }
  }

  .no-personal-boards {
    font-size: 1rem;
    color: grey;
  }
}
