<section
  class="boards-section"
  fxLayout="column"
  *ngIf="(favoriteBoards$ | async)?.length"
>
  <div class="header" fxLayout="row" fxLayoutAlign="start center">
    <div
      class="title"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="5px"
    >
      <mat-icon>star</mat-icon>
      <h4>Favorite Boards</h4>
    </div>
  </div>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    fxLayout.xs="column"
    fxLayoutAlign.xs="center stretch"
  >
    <mat-card
      *ngFor="let board of favoriteBoards$ | async"
      class="board-card"
      ngClass.xs="board-card-xs"
      [ngStyle]="{ 'background-color': board.backgroundColor }"
      fxFlex.sm="0 0 calc(25% - 14px)"
      fxFlex.md="0 0 calc(20% - 14px)"
      fxFlex.lg="0 0 calc(16.66% - 14px)"
      fxFlex.xl="0 0 calc(10% - 14px)"
      [routerLink]="[board.id]"
    >
      <mat-card-header>
        <mat-card-title>{{ board.title }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</section>

<section class="boards-section" fxLayout="column">
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <div
      class="title"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="5px"
    >
      <mat-icon>person</mat-icon>
      <h4>Personal Boards</h4>
    </div>
    <button
      mat-stroked-button
      color="primary"
      fxHide.xs
      (click)="onCreateBoard()"
    >
      <mat-icon>add</mat-icon>
      Create Board
    </button>
    <button
      mat-icon-button
      color="primary"
      fxHide
      fxShow.xs
      (click)="onCreateBoard()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div
    *ngIf="
      personalBoards$ | async as personalBoards;
      else loadingPersonalBoards
    "
  >
    <div
      *ngIf="personalBoards?.length; else noPersonalBoards"
      fxLayout="row wrap"
      fxLayoutAlign="start center"
      fxLayout.xs="column"
      fxLayoutAlign.xs="center stretch"
    >
      <mat-card
        *ngFor="let board of personalBoards"
        class="board-card"
        ngClass.xs="board-card-xs"
        matBadge="★"
        matBadgeColor="accent"
        [matBadgeHidden]="
          !board.usersIdsWhoseBoardIsFavorite.includes((currUser$ | async)?.id)
        "
        [ngStyle]="{ 'background-color': board.backgroundColor }"
        fxFlex.sm="0 0 calc(25% - 14px)"
        fxFlex.md="0 0 calc(20% - 14px)"
        fxFlex.lg="0 0 calc(16.66% - 14px)"
        fxFlex.xl="0 0 calc(10% - 14px)"
        [routerLink]="[board.id]"
      >
        <mat-card-header>
          <mat-card-title>{{ board.title }}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <ng-template #noPersonalBoards>
      <span class="no-items-label">No personal boards.</span>
    </ng-template>
  </div>
  <ng-template #loadingPersonalBoards>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</section>
<router-outlet></router-outlet>
