<section
  class="boards-section"
  fxLayout="column"
  *ngIf="favoriteBoards$ | async as favBoards"
>
  <div class="header">
    <div class="title" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <mat-icon>star</mat-icon>
      <h3>Favorite Boards</h3>
    </div>
  </div>

  <div class="boards-grid">
    <mat-card
      *ngFor="let board of favBoards; trackBy: boardTrackByFn"
      class="board-card"
      [ngStyle]="{ 'background-color': board.backgroundColor }"
      [routerLink]="board.id"
    >
      <strong>{{ board.title }}</strong>
    </mat-card>
  </div>
</section>

<section class="boards-section" fxLayout="column">
  <div class="header" fxLayoutAlign="space-between center">
    <div class="title" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <mat-icon>person</mat-icon>
      <h3>Personal Boards</h3>
    </div>

    <button
      mat-stroked-button
      color="primary"
      fxHide
      fxShow.gt-xs
      (click)="onCreateBoard()"
    >
      <mat-icon>add</mat-icon>
      Create Board
    </button>
    <button
      mat-icon-button
      color="primary"
      fxHide.gt-xs
      (click)="onCreateBoard()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <ng-container
    *ngIf="
      personalBoards$ | async as personalBoards;
      else loadingPersonalBoards
    "
  >
    <div
      *ngIf="personalBoards.length; else noPersonalBoards"
      class="boards-grid"
    >
      <mat-card
        *ngFor="let board of personalBoards; trackBy: boardTrackByFn"
        class="board-card"
        matBadge="★"
        matBadgeColor="accent"
        [matBadgeHidden]="
          !board.usersIdsWhoseBoardIsFavorite.includes((currUser$ | async)?.id)
        "
        [ngStyle]="{ 'background-color': board.backgroundColor }"
        [routerLink]="board.id"
      >
        <strong>{{ board.title }}</strong>
      </mat-card>
    </div>

    <ng-template #noPersonalBoards>
      <span class="no-personal-boards">No personal boards.</span>
    </ng-template>
  </ng-container>

  <ng-template #loadingPersonalBoards>
    <div fxLayoutAlign="center center">
      <mat-spinner diameter="75"></mat-spinner>
    </div>
  </ng-template>
</section>
